body { 
    background-color: white;
    margin: 0px;
}

.special-color { 
    color: #574c44;
}

#grid-container { 
    display: grid;
    grid-template-rows: auto auto auto;
}

h1 { 
    margin: 0;
}

h2 { 
    margin: 0;
}

h4 { 
    margin: 0;
}

p { 
    margin: 0;
}

img { 
    display: block;
    max-width: 100%;
}

header { 
    display: grid;
    grid-template-rows: auto;
    min-height: 12.8em;
}

#top { 
    display: none;
    position: fixed;
    right: 0.0625em;
    bottom: 1.25em;
    background-color: rgba(83, 83, 83, 0.8);
    border: none;
    outline: none;
    border-radius: 0.2em;
    z-index: 99;
    cursor: pointer;
}

.header-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 2em;
}

.header-name { 
    font-size: clamp(0.75em, 1em + 1vw, 7em);
    font-weight: 100;
    letter-spacing: 0.125em;
    width: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    margin-right: auto;
}

.logo-div { 
    text-align: center;
}

#logo {
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

.hamc-div { 
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: clamp(0em, 0.7em + 1vw, 3em);
    font-size: clamp(0em, 0.09em + 10vw, 1.1em);
    width: fit-content;
    margin-left: auto;
}

.hamc-option-div { 
    height: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hamc-option { 
    cursor: pointer;
}

.hamc-option:hover { 
    text-decoration: underline;
}

.dropdown { 
    position: relative;
    display: inline-block;
    height: fit-content;
}

.dropdown-content { 
    display: none;
    position: absolute;
    background-color: white;
    min-width: 8.75em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content { 
    display: grid;
}

.dropdown-content p { 
    border: 1px solid gray;
    padding: 10px 10px;
    cursor: pointer;
}

.dropdown-content p:hover { 
    background-color: rgb(180, 179, 179);
}

.menu-container {
    display: none;
    cursor: pointer;
    position: relative;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
}

.bars {
    width: fit-content;
    margin-left: auto;
}

.bar1, .bar2, .bar3 { 
    width: 2em;
    height: 0.3125em;
    background-color: #333;
    margin-top: 0.375em;
    transition: 0.4s;
}

.change .bar1 { 
    transform: translate(0, 0.6875em) rotate(-45deg);
}

.change .bar2 { 
    opacity: 0;
}

.change .bar3 { 
    transform: translate(0, -0.6875em) rotate(45deg);
}

#products-container { 
    display: grid;
    row-gap: 5em;
}

#home-container { 
    display: grid;
    row-gap: 5em;
}

#home-container .repeated-pattern-background { 
    display: grid;
    row-gap: clamp(1em, 1em + 2vw, 7em);  
}

#about-container {
    display: grid;
    row-gap: 5em;
}

#contact-container { 
    display: grid;
    row-gap: 5em;
}

#blog-container { 
    display: grid;
    row-gap: 5em;
}

#content-footer-div { 
    display: grid;
    row-gap: 4em;
}

.repeated-pattern-background { 
    background-position: 50% 50%;
    background-image: url('https://c55f-207-204-87-127.ngrok.io/WEBSITE/assets/images/pattern.png');
}

#slider { 
    background-image: linear-gradient(to right, #ffbd59, #ffbd59);
    display: grid;
    grid-template-rows: auto auto;
    padding: 0 1em;
    height: fit-content;
}

#slider-columns { 
    display: grid;
    grid-template-columns: auto auto;
}

#slider-description-div { 
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    height: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#slider-description-span { 
    font-size: clamp(0em, 1em + 10vw, 9.375em);
    font-weight: 100;
    width: fit-content;
    margin: 0 auto;
}

.browse-div { 
    text-align: center;
    height: fit-content;
    padding-top: 15px;
}

#browse { 
    align-self: center;
    background-color: rgba(180,35,35,255);
    border: 2px white solid;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    font-size: 30px;
    width: fit-content;
    cursor: pointer;
}

#slider-image-div { 
    height: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#slider-image { 
    /* height: clamp(1em, 12em + 10vw, 31.25em); */
    /* width: clamp(1em, 20em + 10vw, 56.25em); */
    width: clamp(10em, 10em + 40vw, 25em);
    height: clamp(10em, 10em + 40vw, 25em);
    margin: 0 auto;
}

.slide-picker { 
    text-align: center;
    cursor: default;
}

.circles { 
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0.625em;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1em;
}

.circle { 
    height: 0.875em;
    width: 0.875em;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.fade-in {
    animation: fadeIn 3s;
}

@keyframes fadeIn { 
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.intro-categories-div { 
    display: grid;
    row-gap: clamp(1em, 1em + 4vw, 7em);
    padding: 0 1em; 
}
.shop-now-div { 
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 2.5em;
}

#introduction-div { 
    text-align: center;
    max-width: 90em;
    margin: 0 auto;
}

#introduction-div p { 
    align-self: center;
    font-size: clamp(1em, 1em + 1vw, 2em);
    line-height: 140%;
}

.shop-now-button-div { 
    text-align: center;
}

.shop-now-button { 
    background-color: rgba(180,35,35,255);
    border-radius: 0.375em;
    color: white;
    padding: 0.475em 1.50em;
    font-size: 1.875em;
    width: fit-content;
    cursor: pointer;
    margin: 0 auto;
}

.shop-now-button:hover { 
    background-color: gray;
}

.home-categories { 
    display: grid;
    row-gap: 4.5em;
}

#categories-div { 
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, minmax(0em, 35em));
    column-gap: clamp(1em, 1em + 4vw, 12em);
    margin: 0 auto;
}

.category {
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 0.75em;
    height: fit-content;
    text-align: center;
}

.category-image {
    width: clamp(10em, 10em + 40vw, 25em);
    height: clamp(10em, 10em + 40vw, 25em);
    margin: 0 auto;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.category-image:hover { 
    transform: scale(1.1);
}

.category-span * { 
    margin: 0 auto;
    width: fit-content;
}

.category-description { 
    font-size: 1.75em;
    font-weight: 100;
    cursor: pointer;
}

.explore-category { 
    font-size: 0.875em;
    text-decoration: underline;
    cursor: pointer;
}

.home-explore-category-div { 
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    cursor: pointer;
    display: inline-block;
}

.home-explore-category-div:hover { 
    text-decoration: underline;
}

.description-heading { 
    font-size: clamp(0.75em, 1em + 1vw, 7em);
    font-weight: 100;
    text-align: center;
}

.zarylearns-description { 
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 0 1em; 
}

.description { 
    display: grid;
    grid-template-columns: auto auto;
    column-gap: clamp(5em, 5em + 10vw, 28em);
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

.zarylearns-description-text-div { 
    text-align: center;
    font-size: clamp(1em, 1em + 1vw, 2em);
    font-weight: 100;
    max-width: 50em;
    height: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.zarylearns-description-image-div { 
    text-align: center;
}

#zarylearns-description-image { 
    height: clamp(1em, 12em + 10vw, 18.75em);
    width: clamp(1em, 20em + 10vw, 25em);
    border-radius: 50%;
    margin: 0 auto;
}

.featured-div { 
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('https://c55f-207-204-87-127.ngrok.io/WEBSITE/assets/images/dim-background-image.png');
    background-position:50% 50%;
    background-repeat: repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 3em;
    padding: 3em 1em;
    color: white;
}

.featured-title-div { 
    height: fit-content;
}

.featured-title { 
    font-size: clamp(1em, 1em + 5vw, 3em);
    font-weight: 300;
    width: fit-content;
    margin: 0 auto;
}

.featured-products-div { 
    display: grid;
    grid-template-columns: repeat(4, minmax(0em, 15.625em));
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    column-gap: clamp(0em, 1em + 10vw, 10em);

}

.featured-product { 
    max-width: 15.625em;
    display: grid;
    row-gap: 0.5em;
}

.featured-product-image { 
    width: 15.625em;
    height: 22.375em;
    cursor: pointer;
}

.featured-description { 
    font-size: 1.75em;
    font-weight: 100;
    height: fit-content;
}

.featured-link { 
    font-size: 1.125em;
    text-decoration: underline;
    cursor: pointer;
    height: fit-content;
}

.testimonial-div { 
    height: fit-content;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 2em;
    padding: 0 1em; 
}

.testimonial-title-div { 
    height: fit-content;
}

.testimonial-title { 
    font-size: clamp(1em, 1em + 5vw, 3em);
    font-weight: 300;
    width: fit-content;
    margin: 0 auto;
}

.testimonial-columns {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 12em;
    margin: 0 auto;
}

.testimonial-column { 
    display: grid;
    grid-template-rows: auto auto;
    max-width: 40em;
}

#testimonial-quote-img-div {
    height: fit-content;
}

.testimonial-quote-img { 
    height: 2.9375em;
    width: 1.4375em;
}

.testimonial-text-customer-div { 
    display: grid;
    row-gap: 2em;
}

.testimonial-text {
    font-size: 1.25em;
    line-height: 150%;
}

.testimonial-customer { 
    display: grid;
    grid-template-columns: auto auto;
    height: fit-content;
}

.testimonial-customer div:nth-child(1) { 
    border-top: 2px solid gray;
}

footer .repeated-pattern-background { 
    display: grid;
    padding: 0 1em; 
}

.footer-content { 
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: clamp(5em, 7em + 3vw, 24em);
    width: fit-content;
    margin: 0 auto;
    padding: 6em 0 3em 0;
}

.company-footer-column {
    display: grid;
    row-gap: 1em;
    max-width: 24em;
}

.company-name-div { 
    height: fit-content;
}

.company-name { 
    font-size: 2.0em;
    font-weight: 100;
    margin: 0;
    letter-spacing: 2px;
    cursor: pointer;
}

.company-footer-description { 
    font-size: 1.25em;
    line-height: 150%;
}

.tpt-link { 
    cursor: pointer;
    transition: all .2s ease-in-out;
    display: inline-block;
}

.tpt-link:hover { 
    text-decoration: underline;
}

.quick-links-column { 
    display: grid;
    row-gap: 1em;
    height: fit-content;
    width: fit-content;
}

.quick-link-title { 
    font-size: 1.50em;
    font-weight: 100;
    margin: 0;
}

.quick-link { 
    width: fit-content;
    font-size: 1.25em;
    line-height: 150%;
    cursor: pointer;
}

.quick-link:hover {
    text-decoration: underline;
}

.connect-with-us-column { 
    height: fit-content;
    display: grid;
    row-gap: 1em;
}

.connect-with-us-title-div { 
    height: fit-content;
}

.socials-svg-div { 
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 1em;
    width: fit-content;
}

.social-svg { 
    height: 3em;
    width: 3em;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin: auto 0;
}

.social-svg:hover { 
    transform: scale(1.1);
}

.svg-path { 
    margin: 0 auto;
}
.copyright { 
    text-align: center;
    padding-bottom: 1em;
}

.products-landing-background { 
    background-position:50% 50%;
    background-image: url('https://c55f-207-204-87-127.ngrok.io/WEBSITE/assets/images/products-banner.png');
    background-repeat: repeat;
    background-attachment: scroll;
    color: white;
    text-align: center;
    min-height: 532px;
    font-size: clamp(0em, 1em + 10vw, 8em);
    font-weight: 600;
    letter-spacing: 0.10em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.products-categories-div { 
    display: grid;
    row-gap: 3em;
    height: fit-content;
    padding: 0 1em;
}

.product-category { 
    display: grid;
    row-gap: 3em;
    margin: 0 auto;
    width: fit-content;
}

.products-category-title-div { 
    height: fit-content;
    display: grid;
    row-gap: 1em;
}

.products-category-title { 
    font-size: clamp(1em, 1em + 10vw, 3.4375em);
    font-weight: 100;
}

.products-category-punchline { 
    font-size: 1.25em;
}

.product-category-title-underline { 
    height: fit-content;
    width: 50%;
    border-bottom: 2px solid gray;
}

.category-columns { 
    display: grid;
    grid-template-columns: repeat(2, minmax(0em, 35em));
    column-gap: clamp(1em, 1em + 4vw, 12em);
    width: fit-content;
}

.category-column { 
    display: grid;
    row-gap: 1.875em;
    height: fit-content;
}

.category-column2 { 
    display: flex;
    flex-direction: column;
}

.product-div { 
    display: flex;
    flex-direction: row;
    height: fit-content;
    cursor: pointer;
    border: 1px solid transparent;
}

.product-div:hover { 
    border: 1px #574c44 solid;
}

.product-image { 
    width: 4.375em;
    height: 4.375em;
}

.seasonal-image { 
    width: 4.375em;
    height: 4.375em;
}

.product-description-div { 
    display: grid;
    grid-template-rows: auto auto;
    width: fit-content;
    margin-left: 1.875em;
}

.product-name { 
    font-size: 1.75em;
    font-weight: 100;
}

.product-description { 
    font-size: 1.25em;
    color: #574c44
}

.product-price-div { 
    margin-left: auto;
}

.product-price { 
    font-size: 1.75em;
    font-weight: 100;
    margin: 0;
}

.grid-placeholder { 
    height: 4.375em;
}

.product-explore-category-div { 
    text-align: center;
    margin: auto 0;
}

.home-view-all-categories { 
    font-size: clamp(0em, 1em + 10vw, 1.4em);
    cursor: pointer;
    width: fit-content;
}

.home-view-svg { 
    width: clamp(0em, 1em + 10vw, 1.2em);
    /*height: clamp(0em, 1em + 10vw, 1.2em);*/
    height: 0.8em;
    cursor: pointer;
}

.product-explore-category-span:hover .home-view-all-categories { 
    text-decoration: underline;
}

.seasonal-product { 
    border: 1px solid transparent;
    cursor: pointer;
}

.seasonal-product:hover { 
    border: 1px #574c44 solid;
}

.seasonal-product:hover .product-div{ 
    border: 1px solid transparent;
}

.seasonal-title-div-red { 
    background-color: rgba(180,35,35,255);
}

.seasonal-title-div-dark { 
    background-color: rgba(34,31,29,255);
}

.seasonal-title { 
    font-size: 1.25em;
    font-weight: 100;
    padding: 10px 16px;
    margin: 0;
    letter-spacing: 8px;
    color: white;
}

.seasonal-product-container-red { 
    padding: 15px;
    border: 1px rgba(180,35,35,255) solid;
}

.seasonal-product-container-dark { 
    padding: 15px;
    border: 1px rgba(34,31,29,255) solid;
}

.empty-landing-background { 
    background-position:50% 50%;
    background-image: url('https://c55f-207-204-87-127.ngrok.io/WEBSITE/assets/images/banner-empty.png');
    background-repeat: repeat;
    background-attachment: scroll;
    color: white;
    text-align: center;
    min-height: 532px;
    font-size: clamp(0em, 1em + 10vw, 8em);
    font-weight: 600;
    letter-spacing: 0.10em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-div { 
    padding: 0 1em;
    display: grid;
    row-gap: 3em;
}

.about-intro-div { 
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, 1fr);
    column-gap: clamp(1em, 1em + 10vw, 3.75em);
    row-gap: clamp(1em, 1em + 10vw, 5em);
    margin: 0 auto;
    max-width: 85em;
}

.grid-1 { 
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

.grid-2 { 
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
}

.grid-3 { 
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}

.grid-4 { 
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
}

.about-column-left { 
    display: grid;
    row-gap: 5em;
}

.about-intro { 
    font-size: clamp(1em, 1em + 1vw, 2em);
    line-height: 140%;
}

.about-column-right { 
    display: grid;
    row-gap: 3em;
}

.about-intro-div-column2 { 
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 1.25em;
}

.light-font { 
    font-size: 1.25em;
    line-height: 150%;
    color: #574c44;
}

.about-vision-div { 
    display: grid;
    grid-template-columns: auto auto;
    column-gap: clamp(1em, 1em + 10vw, 3.75em);
    max-width: 85em;
    height: fit-content;
    margin: 0 auto;
}

.about-vision-div-column1 { 
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 1.25em;
    height: fit-content;
    max-width: 40em;
}

.about-vision-title { 
    font-size: 55px;
    font-weight: 100;
    margin: 0;
    height: fit-content;
}

.about-logo { 
    max-height: 25em;
    max-width: 25em;
    margin: 0 auto;
}

.about-product-images-div { 
    background-position:50% 50%;
    background-image: url('https://c55f-207-204-87-127.ngrok.io/WEBSITE/assets/images/dim-background-image.png');
    background-repeat: repeat;
    background-attachment: scroll;
    color: white;
    min-height: 25em;
}

.about-company-description-div { 
    text-align: center;
    font-size: 1.5625em;
    line-height: 170%;
    color: #574c44;
    max-width: 45em;
    margin: 0 auto;
}

.contact-div { 
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    column-gap: clamp(5em, 5em + 10vw, 50em);
    padding: 0 1em;
    max-width: 100em;
    margin: 0 auto;
}

.contact-email-div { 
    height: fit-content;
    width: fit-content;
}

.contact-email-title-div { 
    border-bottom: 2px solid gray;
    width: fit-content;
}

.contact-email-title { 
    font-size: 1.875em;
    line-height: 140%;
}

#phone-menu { 
    display: none;
    row-gap: 1.5em;
    padding: 1em;
}

#close-menu { 
    display: flex;
    flex-direction: row;
}

.close-svg { 
    width: fit-content;
    margin-left: auto;
}

#menu-options { 
    display: grid;
    row-gap: 1em;
    font-size: 1.25em;
}

.menu-option { 
    cursor: pointer;
}

.menu-option:hover { 
    text-decoration: underline;
}

@media (max-width: 833px) { 
    .hamc-div { 
        display: none;
    }

    .menu-container { 
        display: inline-block;
    }

    .header-div { 
        margin: 0;
        padding: 0 1em;
        grid-template-columns: auto auto;
    }

    .header-name { 
        margin-right: 100%;
    }

    #logo { 
        margin: 0;
    }

    .name-div { 
        display: none;
    }

    #slider-columns { 
        grid-template-columns: auto;
    }

    #slider-description-div { 
        grid-row: 2;
    }

    #slider-image-div {
        grid-row: 1;
    }

    #slider-description-span { 
        margin: 0 auto;
    }
    .intro-categories-div { 
        row-gap: clamp(1em, 1em + 10vw, 10em);
    }

    #categories-div { 
        grid-template-columns: auto;
        row-gap: 3em;
    }

    .home-categories { 
        row-gap: 2em;
    }

    .home-view-all-categories { 
        text-decoration: underline;
        font-size: clamp(0em, 0.7em + 10vw, 1em);
    }

    .home-view-svg { 
        width: clamp(0em, 0.7em + 10vw, 1em);
        height: clamp(0em, 0.7em + 10vw, 1em);
    }
        
    .zarylearns-description { 
        row-gap: 1.5em;
    }

    .description { 
        grid-template-columns: auto;
        row-gap: 1em;
    }

    .zarylearns-description-text-div { 
        max-width: clamp(1em, 20em + 10vw, 25em);
        grid-row: 2;
    }

    .zarylearns-description-image-div { 
        grid-row: 1;
    }

    .featured-products-div { 
        grid-template-columns: auto;
        row-gap: 2em;
    }

    .featured-product-image { 
        width: 19.8125em;
        height: 29.6875em;
    }

    .featured-product { 
        max-width: 19.8125em;
    }

    .testimonial-columns { 
        grid-template-columns: auto;
        row-gap: 2em;
    }

    .footer-content { 
        grid-template-columns: auto;
        row-gap: 3.5em;
    }

    .category-columns { 
        grid-template-columns: auto;
        row-gap: 1.875em;
        width: 100%;
    }

    .product-category { 
        width: 100%;
    }

    .product-div { 
        width: 100%;
    }

    .product-category-title-underline { 
        width: 100%;
    }

    .products-categories-div { 
        row-gap: 3em;
    }

    .category-column2 { 
        display: grid;
        row-gap: 1.75em;
    }

    .product-explore-category-div { 
        margin: 0 auto;
    }

    .about-intro-div { 
        grid-template-rows: repeat(4, auto)
    }

    .grid-1 { 
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 1;
    }

    .grid-2 { 
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 2;
    }

    .grid-3 { 
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 3;
    }

    .grid-4 { 
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 4;
    }

    .about-product-images-div { 
        display: none;
    }

    .about-logo { 
        height: clamp(10em, 10em + 20vw, 25em);
        width: clamp(10em, 10em + 20vw, 25em);
    }

    .contact-div { 
        grid-template-rows: repeat(2, auto);
        grid-template-columns: auto;
        row-gap: 2em;
        margin: 0;
    }

    .contact-grid-1 { 
        grid-row: 2;
    }

    .contact-grid-2 { 
        grid-row: 1;
    }
}

@media (max-width: 1180px) {
    .name-div { 
        display: none;
    }

    .header-div { 
        margin: 0;
        padding: 0 1em;
        grid-template-columns: auto auto;
    }
}